html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.primary-button {
  background: transparent;
  color: #000000;
  border-color: #000000;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  margin-top: 10px;
  width: 400px;
  border-radius: 25px;
  padding: 8px 25px;
}
.primary-button:hover {
  background: #000000;
  color: #ffffff;
}

.secondary-button {
  background: #000000;
  color: #BF9A5E;
  padding: 5px;
  margin: 10px 0;
  font-size: 12px;
}

.read-article-btn {
  font-size: 16px;
  color: #BF9A5E;
  font-weight: bold;
}

.price-btn {
  background-color: #DF0043;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  margin: 10px 0px;
  font-weight: bold;
}

.buy-now-btn {
  width: 200px;
  height: 30px;
  border-radius: 25px;
  background: #000000;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.buy-now-btn:hover {
  background: #BF9A5E;
  color: #000000;
  border: none;
}

@font-face {
  font-family: "Steelfish";
  src: url("../fonts/SteelfishExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
.primary-button, .secondary-button, .buy-now-btn {
  text-transform: uppercase;
  font-weight: 800;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
}

.footer .footer-container .part-1 .heading-box .sub-heading, #news .part-two .subheading-style, #news .part-one .subheading-style, #instruction .part-two .subheading-style, #instruction .part-one .subheading-style, #latest .part-two .subheading-style, #latest .part-one .subheading-style, .hero-banner .contents .right .sub-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #BF9A5E;
  text-transform: uppercase;
}

.footer .footer-container .part-1 .heading-box .heading, .deals-part .heading, #news .part-one .heading, #instruction .part-one .heading, #trending .left-part .heading, #latest .part-one .heading, .hero-banner .contents .right .heading {
  font-family: "Steelfish", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.footer .footer-container .part-1 .text-box .text, #news .part-three .article-container .article1 .right .text, #news .part-three .article-container .article2 .right .text, #news .part-three .article-container .article3 .right .text, #news .part-three .article-container .article4 .right .text, #news .part-two .text, #news .part-one .text, #instruction .part-three .article-container .article1 .right .text, #instruction .part-three .article-container .article2 .right .text, #instruction .part-three .article-container .article3 .right .text, #instruction .part-three .article-container .article4 .right .text, #instruction .part-two .text, #instruction .part-one .text, #trending .right-part .banner-card .text, #trending .left-part .cards-holder .first-card .text,
#trending .left-part .cards-holder .second-card .text,
#trending .left-part .cards-holder .third-card .text,
#trending .left-part .cards-holder .fourth-card .text, #latest .part-three .article-container .article1 .right .text, #latest .part-three .article-container .article2 .right .text, #latest .part-three .article-container .article3 .right .text, #latest .part-three .article-container .article4 .right .text, #latest .part-two .text, #latest .part-one .text, .hero-banner .contents .right .text {
  font-size: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
}

#header {
  background: black;
  color: #ffffff;
  position: relative;
  z-index: 1000;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 15px;
  font-weight: bold;
}
#header .header .logo-wrapper {
  max-height: 100%;
  width: auto;
}
#header .header .menu-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
}
#header .header .menu-wrapper .nav-wrapper ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 48px;
  height: 100%;
}
#header .header .menu-wrapper .nav-wrapper ul li {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#header .header .menu-wrapper .nav-wrapper ul li a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all linear 0.2s;
}
#header .header .menu-wrapper .nav-wrapper ul li a:hover {
  color: #BF9A5E;
}
#header .header .menu-wrapper .nav-wrapper ul li a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #BF9A5E;
}
#header .header .menu-wrapper .nav-wrapper ul li:hover .dropdown-menu {
  display: flex;
}
#header .header .menu-wrapper .nav-wrapper .dropdown-menu {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  min-width: 120px;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 0;
  padding: 20px 0;
  list-style-type: none;
  z-index: 999;
}
#header .header .menu-wrapper .nav-wrapper .dropdown-menu li {
  width: 100%;
}
#header .header .menu-wrapper .nav-wrapper .dropdown-menu li a {
  color: #ffffff;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: block;
  width: 100%;
  transition: all;
  padding-left: 15px;
}
#header .header .menu-wrapper .nav-wrapper .dropdown-menu li a:hover {
  width: 100%;
  background: #000000;
  overflow: hidden;
}
#header .header .menu-wrapper .nav-wrapper .dropdown-menu li a:hover::before {
  display: none;
}
#header .header .icon-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 48px;
}
#header .header .icon-wrapper svg {
  fill: #ffffff;
  width: 24px;
  margin-right: 48px;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s ease-in-out;
}
#header .header .icon-wrapper svg:hover {
  fill: #BF9A5E;
  transform: scale(1.1);
}
#header .header .mobile-menu-toggle {
  display: none;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
#header .header .mobile-menu-toggle img {
  width: 24px;
  height: 24px;
}

.search-fullscreen-active {
  overflow: hidden;
}

.search_overlay_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.search_overlay_wrapper .search_container .so_close_btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 48px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.search_overlay_wrapper .search_container .so_close_btn:hover {
  transform: rotate(90deg);
}
.search_overlay_wrapper .search_container .search_utility {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  height: 70px;
}
.search_overlay_wrapper .search_container .search_utility .search_bar {
  width: 300px;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
  border-radius: 0px;
  border: none;
  border-right: 1px solid #000000;
  padding: 0 10px;
  margin: 0;
}
.search_overlay_wrapper .search_container .search_utility .so_search_btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  background: #BF9A5E;
  color: #000000;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  margin: 0;
}

.mobile_nav_wrapper {
  display: none;
}

@media screen and (max-width: 1080px) {
  .search_overlay_wrapper .search_utility .search_bar {
    width: 100%;
    min-width: 0;
  }
  #header {
    transition: all linear 0.5s ease-in-out;
    transform: translateX(0px);
  }
  #header .header .logo-wrapper img {
    height: 50px;
  }
  #header .header {
    height: 50px;
  }
  #header .header .menu-wrapper {
    gap: 15px;
  }
  #header .header .menu-wrapper .nav-wrapper {
    display: none;
  }
  #header .header .menu-wrapper .nav-wrapper .nav-wrapper {
    display: none;
  }
  #header .header .menu-wrapper .icon-wrapper {
    padding-right: 0px;
  }
  #header .header .menu-wrapper .icon-wrapper svg {
    margin-right: 0px;
  }
  #header .header .menu-wrapper .mobile-menu-toggle {
    display: flex;
  }
  .mobile_nav_wrapper {
    transition: all linear 0.5s ease-in-out;
    display: block;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #000000;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    z-index: 999;
    transform: translateX(300px);
    transition: all 0.3s ease-in-out;
  }
  .mobile_nav_wrapper ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .mobile_nav_wrapper ul li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
  }
  .mobile_nav_wrapper ul li .sub-menu {
    padding-left: 20px;
  }
  .mobile_nav_wrapper ul li .sub-menu li a {
    position: relative;
    padding: 5px;
  }
  .mobile_nav_wrapper ul li .sub-menu li a::before {
    content: "";
    position: absolute;
    left: -20px;
    top: -5px;
    font-size: 32px;
    color: #ffffff;
    display: inline-block;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotateOut {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.hero-banner {
  position: relative;
  overflow: hidden;
}
.hero-banner .bg-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.hero-banner:hover .bg-img img {
  transform: scale(1.2);
}
.hero-banner .contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.hero-banner .contents .right {
  padding: 20px;
  width: 50%;
  margin-left: auto;
}
.hero-banner .contents .right .banner-card {
  background: #ffffff;
  opacity: 0.8;
  padding: 20px;
  width: 60%;
  height: 500px;
  margin-left: 100px;
  padding: 60px;
}
.hero-banner .contents .right .heading a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.hero-banner .contents .right .primary-button {
  display: block;
  margin: 30px auto 0;
}

.mobile-hero-banner {
  display: none;
}

@media screen and (max-width: 750px) {
  .hero-banner {
    display: none;
  }
  .mobile-hero-banner {
    display: block;
  }
  .mobile-hero-banner .bg-img {
    overflow: hidden;
  }
  .mobile-hero-banner .bg-img a img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .mobile-hero-banner .contents {
    display: flex;
    position: relative;
  }
  .mobile-hero-banner .contents .right {
    width: 100%;
    background: transparent;
    padding: 20px;
  }
  .mobile-hero-banner .contents .right .heading a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
  }
  .mobile-hero-banner .contents .right .primary-button {
    width: 250px;
  }
}
#latest {
  display: flex;
  gap: 20px;
  margin: 40px 120px;
}
#latest .part-one .heading a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
#latest .part-one .img-container {
  overflow: hidden;
}
#latest .part-one .img-container img {
  width: 420px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#latest .part-one .img-container img:hover {
  transform: scale(1.2);
}
#latest .part-one .subheading-style {
  width: 420px;
  color: #000000;
}
#latest .part-one .text {
  margin-bottom: 5px;
}
#latest .part-two {
  margin-top: 87px;
}
#latest .part-two .img-container {
  overflow: hidden;
}
#latest .part-two .img-container img {
  width: 420px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#latest .part-two .img-container img:hover {
  transform: scale(1.2);
}
#latest .part-two .subheading-style {
  width: 420px;
  color: #000000;
}
#latest .part-two .text {
  margin-bottom: 5px;
}
#latest .part-three {
  cursor: pointer;
}
#latest .part-three .primary-button {
  width: 200px;
  margin-left: 200px;
}
#latest .part-three .article-container {
  margin-top: 35px;
}
#latest .part-three .article-container .article1, #latest .part-three .article-container .article2, #latest .part-three .article-container .article3, #latest .part-three .article-container .article4 {
  margin-bottom: 10px;
}
#latest .part-three .article-container .article1 .article-card, #latest .part-three .article-container .article2 .article-card, #latest .part-three .article-container .article3 .article-card, #latest .part-three .article-container .article4 .article-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#latest .part-three .article-container .article1 .left .img-holder, #latest .part-three .article-container .article2 .left .img-holder, #latest .part-three .article-container .article3 .left .img-holder, #latest .part-three .article-container .article4 .left .img-holder {
  overflow: hidden;
}
#latest .part-three .article-container .article1 .left .img-holder img, #latest .part-three .article-container .article2 .left .img-holder img, #latest .part-three .article-container .article3 .left .img-holder img, #latest .part-three .article-container .article4 .left .img-holder img {
  width: 150px;
  height: 100px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#latest .part-three .article-container .article1 .left .img-holder img:hover, #latest .part-three .article-container .article2 .left .img-holder img:hover, #latest .part-three .article-container .article3 .left .img-holder img:hover, #latest .part-three .article-container .article4 .left .img-holder img:hover {
  transform: scale(1.2);
}
#latest .part-three .article-container .article1 .left .secondary-button, #latest .part-three .article-container .article2 .left .secondary-button, #latest .part-three .article-container .article3 .left .secondary-button, #latest .part-three .article-container .article4 .left .secondary-button {
  margin-top: -15px;
  width: 150px;
  text-align: start;
  padding: 5px 20px;
}
#latest .part-three .article-container .article1 .right, #latest .part-three .article-container .article2 .right, #latest .part-three .article-container .article3 .right, #latest .part-three .article-container .article4 .right {
  border-bottom: 1px solid #ccc;
}
#latest .part-three .article-container .article1 .right .text, #latest .part-three .article-container .article2 .right .text, #latest .part-three .article-container .article3 .right .text, #latest .part-three .article-container .article4 .right .text {
  margin-bottom: 2px;
  font-size: 1.1rem;
}
#latest .part-three .article-container .article1 .right .read-article-btn, #latest .part-three .article-container .article2 .right .read-article-btn, #latest .part-three .article-container .article3 .right .read-article-btn, #latest .part-three .article-container .article4 .right .read-article-btn {
  font-size: 12px;
}
#latest .part-three .article-container .article1 .right .reaction, #latest .part-three .article-container .article2 .right .reaction, #latest .part-three .article-container .article3 .right .reaction, #latest .part-three .article-container .article4 .right .reaction {
  margin-top: 5px;
}
#latest .part-three .article-container .article1 .right .reaction span, #latest .part-three .article-container .article2 .right .reaction span, #latest .part-three .article-container .article3 .right .reaction span, #latest .part-three .article-container .article4 .right .reaction span {
  font-size: 12px;
  color: black;
}

#trending {
  display: flex;
  justify-content: space-between;
  margin: 40px 120px;
}
#trending .left-part {
  width: 35%;
  height: 550px;
}
#trending .left-part .cards-holder {
  cursor: pointer;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#trending .left-part .cards-holder .first-card,
#trending .left-part .cards-holder .second-card,
#trending .left-part .cards-holder .third-card,
#trending .left-part .cards-holder .fourth-card {
  box-sizing: border-box;
}
#trending .left-part .cards-holder .first-card .img-container,
#trending .left-part .cards-holder .second-card .img-container,
#trending .left-part .cards-holder .third-card .img-container,
#trending .left-part .cards-holder .fourth-card .img-container {
  overflow: hidden;
}
#trending .left-part .cards-holder .first-card .img-container img,
#trending .left-part .cards-holder .second-card .img-container img,
#trending .left-part .cards-holder .third-card .img-container img,
#trending .left-part .cards-holder .fourth-card .img-container img {
  width: 200px;
  height: 170px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#trending .left-part .cards-holder .first-card .img-container img:hover,
#trending .left-part .cards-holder .second-card .img-container img:hover,
#trending .left-part .cards-holder .third-card .img-container img:hover,
#trending .left-part .cards-holder .fourth-card .img-container img:hover {
  transform: scale(1.2);
}
#trending .left-part .cards-holder .first-card .secondary-button,
#trending .left-part .cards-holder .second-card .secondary-button,
#trending .left-part .cards-holder .third-card .secondary-button,
#trending .left-part .cards-holder .fourth-card .secondary-button {
  margin-top: -15px;
  width: 200px;
  text-align: start;
  padding: 5px 20px;
}
#trending .left-part .cards-holder .first-card .text,
#trending .left-part .cards-holder .second-card .text,
#trending .left-part .cards-holder .third-card .text,
#trending .left-part .cards-holder .fourth-card .text {
  font-size: 1rem;
  width: 200px;
}
#trending .right-part {
  position: relative;
}
#trending .right-part .primary-button {
  width: 200px;
  margin-left: 620px;
}
#trending .right-part .bg-img {
  overflow: hidden;
}
#trending .right-part .bg-img img {
  width: 830px;
  height: 475px;
  margin-top: 35px;
  transition: transform 0.5s ease-in-out;
  object-fit: fill;
}
#trending .right-part .bg-img img:hover {
  transform: scale(1.2);
}
#trending .right-part .banner-card {
  position: absolute;
  top: 125px;
  left: 50px;
  width: 215px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  color: #ffffff;
  padding: 30px;
}
#trending .right-part .banner-card .subheading {
  font-size: 1.5rem;
  color: #BF9A5E;
  text-transform: capitalize;
  font-weight: bold;
}
#trending .right-part .banner-card .heading a {
  text-decoration: none;
  font-size: 3rem;
  color: #ffffff;
}
#trending .right-part .banner-card .text {
  font-size: 0.8rem;
}

#instruction {
  display: flex;
  gap: 20px;
  margin: 200px 120px;
}
#instruction .part-one .heading a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
#instruction .part-one .img-container {
  overflow: hidden;
}
#instruction .part-one .img-container img {
  width: 420px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#instruction .part-one .img-container img:hover {
  transform: scale(1.2);
}
#instruction .part-one .subheading-style {
  width: 420px;
  color: #000000;
}
#instruction .part-one .text {
  margin-bottom: 5px;
}
#instruction .part-two {
  margin-top: 87px;
}
#instruction .part-two .img-container {
  overflow: hidden;
}
#instruction .part-two .img-container img {
  width: 420px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#instruction .part-two .img-container img:hover {
  transform: scale(1.2);
}
#instruction .part-two .subheading-style {
  width: 420px;
  color: #000000;
}
#instruction .part-two .text {
  margin-bottom: 5px;
}
#instruction .part-three {
  cursor: pointer;
}
#instruction .part-three .primary-button {
  width: 300px;
  margin-left: 120px;
}
#instruction .part-three .article-container {
  margin-top: 35px;
}
#instruction .part-three .article-container .article1, #instruction .part-three .article-container .article2, #instruction .part-three .article-container .article3, #instruction .part-three .article-container .article4 {
  margin-bottom: 10px;
}
#instruction .part-three .article-container .article1 .article-card, #instruction .part-three .article-container .article2 .article-card, #instruction .part-three .article-container .article3 .article-card, #instruction .part-three .article-container .article4 .article-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#instruction .part-three .article-container .article1 .left .img-holder, #instruction .part-three .article-container .article2 .left .img-holder, #instruction .part-three .article-container .article3 .left .img-holder, #instruction .part-three .article-container .article4 .left .img-holder {
  overflow: hidden;
}
#instruction .part-three .article-container .article1 .left .img-holder img, #instruction .part-three .article-container .article2 .left .img-holder img, #instruction .part-three .article-container .article3 .left .img-holder img, #instruction .part-three .article-container .article4 .left .img-holder img {
  width: 150px;
  height: 100px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#instruction .part-three .article-container .article1 .left .img-holder img:hover, #instruction .part-three .article-container .article2 .left .img-holder img:hover, #instruction .part-three .article-container .article3 .left .img-holder img:hover, #instruction .part-three .article-container .article4 .left .img-holder img:hover {
  transform: scale(1.2);
}
#instruction .part-three .article-container .article1 .left .secondary-button, #instruction .part-three .article-container .article2 .left .secondary-button, #instruction .part-three .article-container .article3 .left .secondary-button, #instruction .part-three .article-container .article4 .left .secondary-button {
  margin-top: -15px;
  width: 150px;
  text-align: start;
  padding: 5px 20px;
}
#instruction .part-three .article-container .article1 .right, #instruction .part-three .article-container .article2 .right, #instruction .part-three .article-container .article3 .right, #instruction .part-three .article-container .article4 .right {
  border-bottom: 1px solid #ccc;
}
#instruction .part-three .article-container .article1 .right .text, #instruction .part-three .article-container .article2 .right .text, #instruction .part-three .article-container .article3 .right .text, #instruction .part-three .article-container .article4 .right .text {
  margin-bottom: 2px;
  font-size: 1.1rem;
}
#instruction .part-three .article-container .article1 .right .read-article-btn, #instruction .part-three .article-container .article2 .right .read-article-btn, #instruction .part-three .article-container .article3 .right .read-article-btn, #instruction .part-three .article-container .article4 .right .read-article-btn {
  font-size: 12px;
}
#instruction .part-three .article-container .article1 .right .reaction, #instruction .part-three .article-container .article2 .right .reaction, #instruction .part-three .article-container .article3 .right .reaction, #instruction .part-three .article-container .article4 .right .reaction {
  margin-top: 5px;
}
#instruction .part-three .article-container .article1 .right .reaction span, #instruction .part-three .article-container .article2 .right .reaction span, #instruction .part-three .article-container .article3 .right .reaction span, #instruction .part-three .article-container .article4 .right .reaction span {
  font-size: 12px;
  color: black;
}

#news {
  display: flex;
  gap: 20px;
  margin: 0px 120px;
}
#news .part-one .heading a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
#news .part-one .img-container {
  overflow: hidden;
}
#news .part-one .img-container img {
  width: 420px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#news .part-one .img-container img:hover {
  transform: scale(1.2);
}
#news .part-one .subheading-style {
  width: 420px;
  color: #000000;
}
#news .part-one .text {
  margin-bottom: 5px;
}
#news .part-two {
  margin-top: 87px;
}
#news .part-two .img-container {
  overflow: hidden;
}
#news .part-two .img-container img {
  width: 420px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#news .part-two .img-container img:hover {
  transform: scale(1.2);
}
#news .part-two .subheading-style {
  width: 420px;
  color: #000000;
}
#news .part-two .text {
  margin-bottom: 5px;
}
#news .part-three {
  cursor: pointer;
}
#news .part-three .primary-button {
  width: 300px;
  margin-left: 120px;
}
#news .part-three .article-container {
  margin-top: 35px;
}
#news .part-three .article-container .article1, #news .part-three .article-container .article2, #news .part-three .article-container .article3, #news .part-three .article-container .article4 {
  margin-bottom: 10px;
}
#news .part-three .article-container .article1 .article-card, #news .part-three .article-container .article2 .article-card, #news .part-three .article-container .article3 .article-card, #news .part-three .article-container .article4 .article-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#news .part-three .article-container .article1 .left .img-holder, #news .part-three .article-container .article2 .left .img-holder, #news .part-three .article-container .article3 .left .img-holder, #news .part-three .article-container .article4 .left .img-holder {
  overflow: hidden;
}
#news .part-three .article-container .article1 .left .img-holder img, #news .part-three .article-container .article2 .left .img-holder img, #news .part-three .article-container .article3 .left .img-holder img, #news .part-three .article-container .article4 .left .img-holder img {
  width: 150px;
  height: 100px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}
#news .part-three .article-container .article1 .left .img-holder img:hover, #news .part-three .article-container .article2 .left .img-holder img:hover, #news .part-three .article-container .article3 .left .img-holder img:hover, #news .part-three .article-container .article4 .left .img-holder img:hover {
  transform: scale(1.2);
}
#news .part-three .article-container .article1 .left .secondary-button, #news .part-three .article-container .article2 .left .secondary-button, #news .part-three .article-container .article3 .left .secondary-button, #news .part-three .article-container .article4 .left .secondary-button {
  margin-top: -15px;
  width: 150px;
  text-align: start;
  padding: 5px 20px;
}
#news .part-three .article-container .article1 .right, #news .part-three .article-container .article2 .right, #news .part-three .article-container .article3 .right, #news .part-three .article-container .article4 .right {
  border-bottom: 1px solid #ccc;
}
#news .part-three .article-container .article1 .right .text, #news .part-three .article-container .article2 .right .text, #news .part-three .article-container .article3 .right .text, #news .part-three .article-container .article4 .right .text {
  margin-bottom: 2px;
  font-size: 1.1rem;
}
#news .part-three .article-container .article1 .right .read-article-btn, #news .part-three .article-container .article2 .right .read-article-btn, #news .part-three .article-container .article3 .right .read-article-btn, #news .part-three .article-container .article4 .right .read-article-btn {
  font-size: 12px;
}
#news .part-three .article-container .article1 .right .reaction, #news .part-three .article-container .article2 .right .reaction, #news .part-three .article-container .article3 .right .reaction, #news .part-three .article-container .article4 .right .reaction {
  margin-top: 5px;
}
#news .part-three .article-container .article1 .right .reaction span, #news .part-three .article-container .article2 .right .reaction span, #news .part-three .article-container .article3 .right .reaction span, #news .part-three .article-container .article4 .right .reaction span {
  font-size: 12px;
  color: black;
}

.deals-part {
  margin: 40px 120px;
}
.deals-part .products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.deals-part .products-container .product-card {
  width: 190px;
}
.deals-part .products-container .product-card .product-img a img {
  width: 188px;
  height: 190px;
  object-fit: contain;
}
.deals-part .products-container .product-card .product-info {
  width: 200px;
  color: #2c1a1a;
  font-weight: bold;
  margin: 10px 0px;
  text-transform: capitalize;
}
.deals-part .products-container .product-card .discount {
  margin-bottom: 50px;
}
.deals-part .products-container .product-card .discount .previous-price {
  padding-right: 5px;
  text-decoration: line-through;
  color: #2c1a1a;
}
.deals-part .products-container .product-card .discount .current-price {
  padding-right: 5px;
  color: #DF0043;
}
.deals-part .products-container .product-card .buy-now-btn {
  margin: auto;
}

.footer {
  width: 100%;
  height: 100vh;
  background: #000000;
  margin-top: 100px;
}
.footer .footer-container {
  margin: 40px 120px;
  padding-top: 70px;
}
.footer .footer-container .part-1 .heading-box .heading {
  color: #ffffff;
}
.footer .footer-container .part-1 .text-box .text {
  color: #ffffff;
}
.footer .footer-container .part-1 .text-box .primary-button {
  color: #BF9A5E;
  border-color: #BF9A5E;
}
.footer .footer-container .part-1 .text-box .primary-button:hover {
  background: #BF9A5E;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
