
html,
body,
ul,
li,
p{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
   
}
.page-width{
    max-width: 1200px;
    margin: 0 auto;
}
.full-width{
    width: 100%;
}
.primary-button{
    @extend %button-style !optional;
    background: transparent;
    color: $foregroundColor;
    border-color: $foregroundColor;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;

    &:hover{
        background: $foregroundColor;
        color: $backgroundColor;
    }
    
}
.secondary-button{
    @extend %button-style !optional;
    background: transparent;
    color: $foregroundColor;
    border-color: $brandColor;
}