.deals-part{
    margin: 40px 120px;
    .heading{
        @extend %heading-style;
    }
    .products-container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .product-card{
            width: 190px;
            .product-img{
                a{
                    img{
                        width: 188px;
                        height: 190px;
                        object-fit:contain;
                    }
                }
            }
            .price-btn{}
            .product-info{
                width: 200px;
                color: #2c1a1a;
                font-weight: bold;
                margin: 10px 0px;
                text-transform: capitalize;
            }
            .discount{
                margin-bottom: 50px;
                .previous-price{
                    padding-right: 5px;
                    text-decoration: line-through;
                    color: #2c1a1a;

                }
                .current-price{
                    padding-right: 5px;
                    color: #DF0043;
                }
            }
            .buy-now-btn{
                margin: auto;
            }
        }
    }
    
}