

%button-style{
    text-transform: uppercase;
    font-weight: 800;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
}
%subheading-style{
    font-size: 1.2rem;
      font-weight: bold;
      color: $brandColor;
      text-transform: uppercase;
}

%heading-style{
        font-family: 'Steelfish', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 4.5rem;
        text-transform: uppercase;

}
%text-style{
          font-size: 1rem;
          line-height: 1.5;
          text-transform: capitalize;
        }



