

.hero-banner {
  position: relative;
  overflow: hidden;

  .bg-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }

  &:hover .bg-img img {
    transform: scale(1.2);
  }

  .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .right {
      padding: 20px;
      width: 50%;
      margin-left: auto;
       .banner-card {
          background:$backgroundColor;
          opacity: 0.8;
          padding: 20px;
          width: 60%;
          height:500px ;
          margin-left: 100px;
          padding: 60px;
        }

        .sub-heading {
          @extend %subheading-style !optional;
        }

        .heading {
            @extend %heading-style !optional;
            a {
                text-decoration: none;
                color: $foregroundColor;
                text-transform: uppercase;
            }
        }

        .text {
          @extend %text-style !optional;
        }
        .primary-button{
          display: block;
        margin: 30px auto 0;
        }
    }
  }

   
  .contents-for-mobile{
    display: none;
  }
}
// Responsive start
@media screen and (max-width: 750px) {
  .hero-banner {
    .bg-img img {
      height: 400px;
      &:hover {
        transform: scale(1);
      }
    }

    .contents {
      display: none;
    }

    .contents-for-mobile {
      display: block;
      position: relative;
      overflow-x: hidden;
      .right {
        // padding: 20px;
        // width: 50%;
        // margin-left: auto;
        // background-color: red;

        .banner-card {
          background: $backgroundColor;
          opacity: 0.8;
          width: 60%;
          height: 500px;
          // margin-left: 100px;
          padding: 20px;
          // position: absolute;
        }

        .sub-heading {
          @extend subheading-style !optional;

        }

        .heading {
          @extend heading-style !optional;

          a {
            text-decoration: none;
            color: $foregroundColor;
            text-transform: uppercase;
          }
          .primary-button{}
        }
      }
    }
  }
}
