

.hero-banner {
  position: relative;
  overflow: hidden;

  .bg-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }

  &:hover .bg-img img {
    transform: scale(1.2);
  }

  .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .right {
      padding: 20px;
      width: 50%;
      margin-left: auto;
       .banner-card {
          background:$backgroundColor;
          opacity: 0.8;
          padding: 20px;
          width: 60%;
          height:500px ;
          margin-left: 100px;
          padding: 60px;
        }

        .sub-heading {
          @extend %subheading-style;
        }

        .heading {
            @extend %heading-style;
            a {
                text-decoration: none;
                color: $foregroundColor;
                text-transform: uppercase;
            }
        }

        .text {
          @extend %text-style;
        }
        .primary-button{
          display: block;
        margin: 30px auto 0;
        }
    }
  }
}
.mobile-hero-banner{
  display: none;
}
// Responsive start
@media screen and (max-width: 750px) {
  .hero-banner{
    display: none;
  }
  .mobile-hero-banner {
    display: block;
    .bg-img {
      overflow: hidden;
      a {
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          transition: transform 0.5s ease-in-out;
        }
      }
    }
    .contents {
      display: flex;
      position: relative;
      .right {
        width: 100%;
        background: transparent;
        padding: 20px;
        .sub-heading {
          // @extend %subheading-style;
        }
        .heading {
          // @extend %heading-style;
          a {
            text-decoration: none;
            color: $foregroundColor;
            text-transform: uppercase;
          }
        }
        .text {
        }
        .primary-button {
          width: 250px;
        }
      }
    }
  }
}